body {

        font: 12px/1.5 Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        font-family: "Trebuchet MS", Arial, sans-serif;
        line-height: 1.2;
        margin: 0.5em 0;
}

h1 { font-size: 2.0em; line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, sans-serif;
	line-height: 1.2;
	margin: 0.5em 0; 
}

h1 { font-size: 2.0em; line-height: 1.1;  }

h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; font-weight: bold; }

p, ol, ul, dl {
        padding-bottom: 1.5em;
}

ul, ol {
        padding-top: 0.5em;
        padding-left: 2em;

	padding-bottom: 1.5em;
}

ul, ol {
	padding-top: 0.5em; 
	padding-left: 2em;
}

p + ul { padding-top: 0; }

ul li { list-style-type: circle; }
ul li ul li { list-style-type: square; }
ul li ul li ul li { list-style-type: disc; }

ol li,
ul li ol li { list-style-type: decimal; }
ol li ol li,
ul li ol li ol li { list-style-type: upper-roman; }

ol li ol li ol li,
ul li ol li ol li ol li { list-style-type: upper-alpha; }

blockquote {
        background: #FFF;
        border: 1px solid #CCC;
        border-left-width: 10px;
        padding: 40px;
        margin: 0 0 20px 20px;
        font-style: italic;
        color: #666;
        font-family: Georgia, serif;
}

blockquote:hover {
        color: #000;
        border-color: #000;
}

blockquote p:last-child {
        padding: 0;
}

.abbr {	letter-spacing: 0.1em;	}
.amp  {	
	letter-spacing: 0.1em;
	font-family: Arial;
	font-size: 30px;
}

blockquote:hover {
	color: #000; 
	border-color: #000;
}

blockquote p:last-child {
	padding: 0; 
}
