<<<<<<< HEAD

=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 08f992a3f43bcfc6d4bb752b4106bd062a358ebb
* 	{	padding: 0; margin: 0;	}

body {
	padding: 4em;
}

#box1	{
	width: 30em;
<<<<<<< HEAD

=======
=======
=======
>>>>>>> eb6455d85f6b37dc3892bcc2a6688071ab00a847
>>>>>>> 08f992a3f43bcfc6d4bb752b4106bd062a358ebb
* { padding: 0; margin: 0;  }

body { 

	padding: 4em;
<<<<<<< HEAD
=======

<<<<<<< HEAD
>>>>>>> eb6455d85f6b37dc3892bcc2a6688071ab00a847
=======
>>>>>>> eb6455d85f6b37dc3892bcc2a6688071ab00a847
}
>>>>>>> 08f992a3f43bcfc6d4bb752b4106bd062a358ebb
