* 				{	padding: 0; margin: 0;	}

body 			{	width: 800px; font: 14px/1.5  Arial,Verdana, sans-serif; background-color: #ccc; background: url(../images/backgr7.jpg) no-repeat; margin: 0 auto; 	}

/*hr 				{	color: #ffffff;	margin-bottom: 10px;}*/
h4 				{	font-family: 'Euphoria Script', cursive; float: left;	}

p 				{	font-size: 1em; padding: 8px 0 8px 0;	}
a 				{	text-decoration: none;  border-bottom: dashed;  color: black; 	}
a:hover 		{	color: yellow;	}

#user-container		{	width: 800px; 	} 

/*************** Top Part - Page *******************/
.inner-user			{	border-top: 15px solid black; border-bottom: 4px solid #c0c0c0;	padding: 10px; height: 30px; 		}

#title-color 		{	color: red;	}
.right-side 		{ 	display: block; float: right;	}
.inner-user p 		{	float: left; padding-right: 50px; 	}
.inner-user a 		{	text-decoration: none; color: darkred; border: none;	 	}

/****************************************************/

/*************** Middle Part - Page *****************/
.user-body			{	width: 100%; border-top: 1px solid white; padding: 80px 0 0 0; display: inline-block;	}

.navi				{	border-right: 3px solid #c6c7c1; width: 80px; float: left; display: block;  	}
.navi ul 			{	padding: 50% 0% 13% 25%;	}
.navi ul li 		{	overflow: hidden; padding: 10px 0 0 0;	}
.navi a 			{	clear: both; text-decoration: none; display: block; float: left; border: none; padding: 5px 0 5px 5px;	}

.calendar 			{	padding: 0 0 0 10px; display: block; float: left;	}
.calendar iframe 	{	width: 700px; min-height: 210px; border: none; 	}

#frame2				{	width: 700px; min-height: 480px; border: none; 	}

.rowinput			{		}
/***************************************************/

/* Стил на бутоните */
.buttonStyle 	{	font-family: 'latin-ext'; padding: 0 10px 0 10px;  margin-left: 15px; border-radius: 20%;	}
#buttons		{	background-color: white;	}
#buttons:hover 	{	color: lightgreen;	}

/************** Footer *****************************/
.footer 			{	border-top: 3px solid grey; margin-top: 50px;	}