* {
	padding: 0; 
	margin: 0; 
}

body {
	background: #EEE;
	font: 14px/1.5 Verdana, Arial, sans-serif;
	padding: 60px; 
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 10px; 
	padding-top: 20px; 
}

p, ol, ul, dl {
	padding-bottom: 20px;
}

ul, ol {
	padding-top: 0.5em; 
	padding-left: 40px;
}

ul li { list-style-type: circle; }
ul li ul li { list-style-type: square; }
ul li ul li ul li { list-style-type: disc; }

ol li,
ul li ol li { list-style-type: decimal; }
ol li ol li,
ul li ol li ol li { list-style-type: upper-roman; }

ol li ol li ol li,
ul li ol li ol li ol li { list-style-type: upper-alpha; }

blockquote {
	background: #FFF; 
	border: 1px solid #CCC;
	border-left-width: 10px;
	padding: 40px;
	margin: 0 0 20px 20px;
	font-style: italic;
	color: #666; 
	font-family: Georgia, serif;
}

blockquote:hover {
	color: #000; 
	border-color: #000;
}

blockquote p:last-child {
	padding: 0; 
}



